/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}


/* ================================================================== md-autocomplete ================================================================== */

md-autocomplete {
	margin-right: 35px;
    flex: 0 1 300px;
}

.autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal;
}
.autocomplete-custom-template li:last-child {
  border-bottom-width: 0;
}

.autocomplete-custom-template .item-title,
.autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 1.5;
}
.autocomplete-custom-template .item-title md-icon {
  height: 18px;
  width: 18px;
}
.custom-container {
  min-width: 350px !important;
}
/* ================================================================== md-toast ================================================================== */

md-toast {
	min-width: 100%;
	margin: 0;
	top: 0;
	right: 0;
	left: 0;
}

md-toast.error .md-toast-content {
	background: #FF0000;
}
