<md-content layout-padding>
  <form name="docItemForm">
    <md-card>
      <md-card-header translate="DOCITEM_EDIT_MAIN_CARD_TITLE">
      </md-card-header>
      <md-card-content layout="row" layout-xs="column">
        <div layout="column" flex>
          
          <md-card>
            <md-card-content>
              <md-input-container class="md-block" flex>
                <label translate="DOCITEM_TABLE_DESCRIPTION_LABEL"></label>
                <input ng-model="$ctrl.docItem.description" required md-maxlength="255" ng-disabled="!$ctrl.Authentication.enableEdit">
              </md-input-container>
              <md-input-container class="md-block" flex>
                <label translate="DOCITEM_TABLE_QUANTITY_LABEL"></label>
                <input ng-model="$ctrl.docItem.quantity" type="number" step="any" required dw-greater-then-zero ng-disabled="!$ctrl.Authentication.enableEdit" ng-change="$ctrl.compute()">
              </md-input-container>
              <div layout="row" layout-xs="column">
                <form ng-submit="$event.preventDefault()">
                  <span>
                    <md-autocomplete
                    	md-selected-item="$ctrl.selectedItemUnitTypeAutocomplete"
                    	md-selected-item-change="$ctrl.selectedItemChangeUnitTypeAutocomplete()"
                    	md-search-text="$ctrl.searchTextUnitTypeAutocomplete"
                    	md-items="ut in $ctrl.querySearchUnitType($ctrl.searchTextUnitTypeAutocomplete)"
                    	md-item-text="ut.description"
                    	md-min-length="0"
                    	placeholder="{{'PICK_UNIT_TYPE_LABEL' | translate}}"
                    	ng-disabled="!$ctrl.Authentication.enableEdit || $ctrl.docStatus != 'nowy'">
                      <md-item-template>
                        <span md-highlight-text="$ctrl.searchTextUnitTypeAutocomplete" md-highlight-flags="^i">{{ut.description}}</span>
                      </md-item-template>
                      <md-not-found>
                        <span translate="PICK_NOT_FOUND"></span>
                      </md-not-found>
                    </md-autocomplete>
                  </span>
                </form>
                <md-input-container class="md-block" flex>
                  <label translate="DOCITEM_TABLE_UNIT_TYPE_LABEL"></label>
                  <input ng-model="$ctrl.docItem.unitType" md-maxlength="100" required ng-disabled="!$ctrl.Authentication.enableEdit"">
                </md-input-container>
              </div>
              <md-input-container class="md-block" flex>
                <label translate="DOCITEM_TABLE_PRICE_PER_UNIT_LABEL"></label>
                <input ng-model="$ctrl.docItem.pricePerUnit" type="number" step="0.01" ng-disabled="!$ctrl.Authentication.enableEdit" ng-change="$ctrl.compute()">
              </md-input-container>
              <md-input-container class="md-block" flex>
                <label translate="DOCITEM_TABLE_DISCOUNT_LABEL"></label>
                <input ng-model="$ctrl.docItem.discount" type="number" step="0.01" ng-disabled="!$ctrl.Authentication.enableEdit" ng-change="$ctrl.compute()">
              </md-input-container>
              <md-input-container class="md-block" flex>
                <label translate="DOCITEM_TABLE_PRICE_LABEL"></label>
                <input ng-model="$ctrl.docItem.price" type="number" step="0.01" ng-disabled="!$ctrl.Authentication.enableEdit">
              </md-input-container>
              <div layout="row" layout-xs="column">
                <form ng-submit="$event.preventDefault()">
                  <span>
                    <md-autocomplete
                    	md-selected-item="$ctrl.selectedItemTaxRateAutocomplete"
                    	md-selected-item-change="$ctrl.selectedItemChangeTaxRateAutocomplete()"
                    	md-search-text="$ctrl.searchTextTaxRateAutocomplete"
                    	md-items="tr in $ctrl.querySearchTaxRate($ctrl.searchTextTaxRateAutocomplete)"
                    	md-item-text="tr.description"
                    	md-min-length="0"
                    	placeholder="{{'PICK_TAX_RATE_LABEL' | translate}}"
                    	ng-disabled="!$ctrl.Authentication.enableEdit || $ctrl.docStatus != 'nowy'">
                      <md-item-template>
                        <span md-highlight-text="$ctrl.searchTextTaxRateAutocomplete" md-highlight-flags="^i">{{tr.description}}</span>
                      </md-item-template>
                      <md-not-found>
                        <span translate="PICK_NOT_FOUND"></span>
                      </md-not-found>
                    </md-autocomplete>
                  </span>
                </form>
                <md-input-container class="md-block" flex>
                  <label translate="DOCITEM_TABLE_TAX_DESCR_LABEL"></label>
                  <input ng-model="$ctrl.docItem.taxDescr" md-maxlength="100" ng-disabled="!$ctrl.Authentication.enableEdit">
                </md-input-container>
                <md-input-container class="md-block" flex>
                  <label translate="DOCITEM_TABLE_TAX_RATE_LABEL"></label>
                  <input ng-model="$ctrl.docItem.taxRate" type="number" step="0.01" ng-disabled="!$ctrl.Authentication.enableEdit">
                </md-input-container>
              </div>
            </md-card-content>
          </md-card>
          
        </div>        
        <md-card-actions layout="column">
          <md-button ng-click="$ctrl.saveDocItem()" translate="SAVE_LABEL" aria-label="{{'SAVE_LABEL' | translate}}" class="md-raised"
          	ng-show="$ctrl.Authentication.enableEdit" ng-disabled="!docItemForm.$dirty || docItemForm.$invalid">
          </md-button>
        </md-card-actions>
      </md-card-content>
    </md-card>
  </form>
</md-content>