<md-content>
  <md-card>

    <md-card-header>
      <md-card-header-text>
        <span translate="DOCUMENT_DETAILS_WORKFLOW_BUTTON_LABEL" class="md-title"></span>
      </md-card-header-text>
    </md-card-header>

	<md-card-actions layout="row" layout-align="start" layout-xs="column">
	  <md-button href="#!/docstages/{{$ctrl.document.id}}/action/send" translate="BUTTON_INIT_DOCUMENT_WORKFLOW" aria-label="{{'BUTTON_INIT_DOCUMENT_WORKFLOW' | translate}}" class="md-raised"
	  	ng-show="$ctrl.document.status == 'nowy' && $ctrl.Authentication.session.canEdit == 'true'">
	  </md-button>
	  <md-button href="#!/docstages/{{$ctrl.document.id}}/action/send" translate="BUTTON_CONTINUE_DOCUMENT_WORKFLOW" aria-label="{{'BUTTON_CONTINUE_DOCUMENT_WORKFLOW' | translate}}" class="md-raised"
	   	ng-show="$ctrl.document.status != 'nowy' && 
	   			(($ctrl.Authentication.session.canAccept == 'true' && $ctrl.Authentication.session.name == $ctrl.document.usern)
	   			||
	   			$ctrl.Authentiaction.session.isAdmin == 'true')">
	  </md-button>
	  <md-button href="#!/docstages/{{$ctrl.document.id}}/action/accept" translate="BUTTON_DOCUMENT_FINAL_ACCEPT" aria-label="{{'BUTTON_DOCUMENT_FINAL_ACCEPT' | translate}}" class="md-raised"
	   	ng-show="$ctrl.document.status != 'zaakceptowany' && $ctrl.document.status != 'zamkniêty' &&
	   			(($ctrl.Authentication.session.canAccept == 'true' && ($ctrl.Authentication.session.name == $ctrl.document.usern || $ctrl.document.status == 'nowy'))
	   			||
	   			$ctrl.Authentication.session.isAdmin == 'true')">
	  </md-button>
	  <md-button href="#!/docstages/{{$ctrl.document.id}}/action/reject" translate="BUTTON_DOCUMENT_REJECT" aria-label="{{'BUTTON_DOCUMENT_REJECT' | translate}}" class="md-raised"
	   	ng-show="$ctrl.document.status != 'nowy' &&
	   			(($ctrl.Authentication.session.canAccept == 'true' && $ctrl.Authentication.session.name == $ctrl.document.usern)
	   			||
	   			$ctrl.Authentiaction.session.isAdmin == 'true')">
	  </md-button>
	  <md-button href="#!/docstages/{{$ctrl.document.id}}/action/close" translate="BUTTON_DOCUMENT_CLOSE" aria-label="{{'BUTTON_DOCUMENT_CLOSE' | translate}}" class="md-raised"
	   	ng-show="$ctrl.document.status != 'zaakceptowany' && $ctrl.document.status != 'zamkniêty' &&
	   			(($ctrl.Authentication.session.canAccept == 'true' && ($ctrl.Authentication.session.name == $ctrl.document.usern || $ctrl.document.status == 'nowy'))
	   			||
	   			$ctrl.Authentication.session.isAdmin == 'true')">
	  </md-button>
      <md-button href="#!/documents" translate="BACK_LABEL" aria-label="{{'BACK_LABEL' | translate}}" class="md-raised"></md-button>
	</md-card-actions>
	
    <md-card-content>
    <md-content>
	  <table ng-table="$ctrl.docStageList" show-filter="true" class="table table-condensed table-striped table-bordered">
	    <tr ng-repeat="stage in $data">
	      <td title="'DOCSTAGE_TABLE_DATE_LABEL' | translate" sortable="'date'" ng-attr-title="{{stage.date | date: 'y-MM-dd'}}">
	        {{stage.date | date: "y-MM-dd"}}
	      </td>
	      <td title="'DOCSTAGE_TABLE_USERN_LABEL' | translate" filter="{usern: 'text'}" sortable="'usern'" ng-attr-title="{{stage.usern}}">
	        {{stage.usern}}
	      </td>
	      <td title="'DOCSTAGE_TABLE_STATUS_LABEL' | translate" filter="{status: 'text'}" sortable="'status'" ng-attr-title="{{stage.status}}">
	        {{stage.status}}
	      </td>
	      <td title="'DOCSTAGE_TABLE_ACTION_LABEL' | translate" filter="{action: 'text'}" sortable="'action'" ng-attr-title="{{stage.action}}">
	        {{stage.action}}
	      </td>
	      <td title="'DOCSTAGE_TABLE_COMMENTS_LABEL' | translate" filter="{comments: 'text'}" sortable="'comments'" ng-attr-title="{{stage.comments}}">
	        {{stage.comments}}
	      </td>
	    </tr>
	  </table>
	</md-content>
	</md-card-content>
  
  </md-card>
</md-content>
