<md-content layout-padding>
  <form name="contractorForm">
    <md-card>
      <md-card-header translate="CONTRACTOR_EDIT_MAIN_CARD_TITLE">
      </md-card-header>
      <md-card-content layout="row" layout-xs="column">
        <div layout="column" flex>
          
          <md-card>
            <md-card-content>
              <md-input-container class="md-block" flex>
                <label translate="CONTRACTORS_TABLE_NAME_LABEL"></label>
                <input ng-model="$ctrl.contractor.name" required md-maxlength="255" ng-disabled="!$ctrl.Authentication.enableEdit">
              </md-input-container>
              <md-input-container class="md-block" flex>
                <label translate="CONTRACTORS_TABLE_ADDRESS_LABEL"></label>
                <input ng-model="$ctrl.contractor.address" required md-maxlength="255" ng-disabled="!$ctrl.Authentication.enableEdit">
              </md-input-container>
              <md-input-container class="md-block" flex>
                <label translate="CONTRACTORS_TABLE_REG_NUMBER_LABEL"></label>
                <input ng-model="$ctrl.contractor.regNumber" md-maxlength="30" ng-disabled="!$ctrl.Authentication.enableEdit">
              </md-input-container>
              <md-input-container class="md-block" flex>
                <label translate="CONTRACTORS_TABLE_CONTACT_DETAILS_LABEL"></label>
                <input ng-model="$ctrl.contractor.contactDetails" md-maxlength="255" ng-disabled="!$ctrl.Authentication.enableEdit">
              </md-input-container>
            </md-card-content>
          </md-card>
          
        </div>        
        <md-card-actions layout="column">
          <md-button ng-click="$ctrl.saveContractor()" translate="SAVE_LABEL" aria-label="{{'SAVE_LABEL' | translate}}" class="md-raised"
          	ng-show="$ctrl.Authentication.enableEdit" ng-disabled="!contractorForm.$dirty || contractorForm.$invalid">
          </md-button>
          <md-button href="#!/contractors" translate="BACK_LABEL" aria-label="{{'BACK_LABEL' | translate}}" class="md-raised"></md-button>
        </md-card-actions>
      </md-card-content>
    </md-card>
  </form>
</md-content>